.background{
  background-color: white;
  box-shadow: 0px 0px 20px -9px rgba(70,70,70,0.86);
  border: 1px solid $vert;
}

.container-form-prescription {
  margin: auto;
  padding: 30px;
}

#prescription_document{
  color: $gris;
  font-size: 12px;
}

.prescription_description{
  font-size: 14px;
  font-weight: 700;
  color: $bleu;
}

.prescription_document{
  font-size: 14px;
  font-weight: 700;
  color: $bleu;
}
