<div class="container">
  <div>
  <div>
    <h1>BONJOUR,<br>Julie</h1>
  </div>
  <div>
      <%= image_tag"https://img.freepik.com/vecteurs-libre/modele-logo-plage-ete_441059-37.jpg" %>
  </div>
</div>
</div>
