    <div class = "img-visio">
      <%= link_to therapist_appointment_path(therapist_id: @appointment.therapist.id, id: @appointment.id) do %>
        <%= image_tag "https://res.cloudinary.com/lewagonss/image/upload/v1647586061/development/Capture_d_e%CC%81cran_2022-03-18_a%CC%80_10.46.47_wq9azw.png" %>
      <% end  %>
    </div>
