<div class="consultation">
  <div
    class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @appointment.url_room %>"
    data-token="<%= @token %>"
    >
  <div class="participant"></div>
  <video id="userVideo" autoplay muted="true" ></video>
  </div>


    <button id='leave-btn' class='btn btn-primary mt-3'> Quittez </button>
  <div>
    <%= link_to 'Quittez', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>
  </div>
</div>
