.button-vert{
  display: inline-block;
  background-color: $vert;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  width: 100px;
  margin: 5px;
  text-decoration: none;
}
