h1{
  font-size: 36px;
  font-weight: 700;
  color: $vert
}

h2{
  font-size: 28px;
  font-weight: 700;
  color: $vert
}

h3{
  font-size: 20px;
  font-weight: 500;
  color: $gris
}

h4{
  font-size: 14px;
  font-weight: 700;
  color: $bleu;
}

h5 {
  font-size: 22px;
  font-weight: 700;
  color: $vert
}

p{
  color: $gris;
  font-size: 12px;
}
