.listing{
  background-color: rgba(80, 177, 131, .3);
  border-radius: 10px;
  margin: auto;
  width: 90%;
  padding-top: 20px;
  padding-left: 15px;
}

.fa-download-color-vert{
  color: $bleu;
  margin-bottom: 10px;
}

.listing-elements{
  margin-left: auto;
  margin-right: auto;
}
