.button-vert-search{
  display: inline-block;
  margin: 10px;
  background-color: $vert;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  width: 100px;
  text-decoration: none;
  border: 1px solid white;
}
