<div>
<%= simple_form_for ([@therapist, @appointment]), url: therapist_appointments_path, method: :post, remote: true do |f| %>
  <%= f.date_field :date_time %>
  <div class="radio-button">
  <%= f.input :time, label: "Choisissez votre créneau:", as: :radio_buttons, collection: @timeframe, :label_method => :last, :value_method => :first  %>
  </div>
  <%= f.button :submit, value: "Prendre votre RDV", class: "button-vert" %>

<% end %>
</div>
