<div>
<%= simple_form_for (@appointment) do |f| %>
  <%= f.date_field :date_time, placeholder: @appointment.date_time %>
  <div class="radio-button">
  <%= f.input :time, label: "Choisissez votre créneau:", as: :radio_buttons, collection: @timeframe, :label_method => :last, :value_method => :first, priority: @appointment.time %>
  </div>

<%= f.button :submit, value: "Modifier votre RDV", class: "button-vert" %>
<% end %>
</div>
