<div class="container mt-5 text-center">
  <% if user_signed_in? %>
  <div class = "">
    <h2>Réservez votre Rendez-vous avec <%= @therapist.first_name %> </h2>
    <p></p>
  <% else %>
    <%=link_to "Please Log In", new_user_session_path %>
  <% end %>
  </div>


  <%= render 'form' %>

  


</div>
