<div class = "container-form">

  <div class = "">
    <h2>Réservez votre Rendez-vous</h2>
    <p>c'est ici pour créer un compte et rester connecté(e) avec nous</p>
  </div>


  <form action="/appointments" method="post">

  </form>

</div>
