<div class = "container-form">

  <% if user_signed_in? %>

  <div class="">
    <h1>Votre naturopathe online</h1>
    <p>Merci de bien compléter votre formulaire pour que votre naturopathe en sache plus sur vous !</p>
  </div>





  <h4>Vous avez rendez-vous avec : </h4>


  <%= render :partial => 'prescriptions' %>
  <%= render :partial => 'feedbacks' %>
  

<div class = "container-form">
